.f_input {
    max-width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    &.w100 {
        width: 100%;
    }
    &.ty_small {
        height: 26px;
        padding: 0 4px;
        border-radius: 4px;
        font-size: 12px;
    }
    &.ty_mid {
        height: 40px;
        padding: 0 10px;
        border-radius: 4px;
        font-size: 14px;
    }
    &.ty_big {
        height: 50px;
        padding: 0 15px;
        border-radius: 6px;
    }
    &.inp_date {
        width: 110px;
        padding-right: 24px;
        background-repeat: no-repeat;
        background-image: url(../images/common/ico_cal.svg);
        background-size: 14px;
        background-position: calc(100% - 4px) center;
        cursor: pointer;
    }
}



.f_chk {
    &.ty_big {
        width: 16px;
        height: 16px;
    }
}

.f_select {
    max-width: 100%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    &.w100 {
        width: 100%;
    }
    &.ty_small {
        height: 26px;
        padding: 0 4px;
        border-radius: 4px;
        font-size: 12px;
    }
    &.ty_mid {
        height: 40px;
        padding: 0 10px;
        border-radius: 4px;
        font-size: 14px;
    }
    &.ty_big {
        height: 50px;
        padding: 0 15px;
        border-radius: 6px;
    }
}