.v_tbl {
    width: 100%;
    border-top: 1px solid #000;
    table-layout: fixed;
    &.ty_nofix {
        table-layout: auto;
    }
    tr.hidden_tr {
        display: none;
        &.on {
            display: table-row;
        }
    }

    &.ty_s_th {
        th {
            width: 100px;
        }
    }
    
    th, td {
        padding: 6px 10px;
        font-size: 12px;
        line-height: 1.6;
        height: 39px;
    }
    th {
        background-color: $c_bg_grey;
        border-bottom: 1px solid $c_line;
        width: 160px;
    }
    td {
        border-bottom: 1px solid $c_line;
    }
    &_toggle {
        display: flex;
        margin: 0 auto;
        width: 36px;
        height: 18px;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: $c_solidGrey;
        border-radius: 0 0 5px 5px;
        &.on {
            i {
                transform: rotate(180deg);
            }
        }
    }
}




.h_tbl {
    &_wrap {
        border: 1px solid $c_line;
        border-top: 1px solid #000;
    }

    width: 100%;
    font-size: 12px;
    //border: 1px solid $c_line;
    border-left: none;
    border-collapse: collapse;
    
    &.ty_fixed {
        table-layout: fixed;
    }

    thead {
        th {
            background-color: $c_bg_grey;
            text-align: center;
            padding: 4px;
            height: 32px;
            cursor: pointer;
            border: 1px solid $c_line;
            border-top: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
            &.th_fixed {
                position: sticky;
                top: 0px;
                z-index: 99;
                
            }
            &.h_auto {
                height: auto;
            }
        }
    }

    tfoot {
        th {
            background-color: $c_bg_grey;
            text-align: center;
            padding: 5px;
            height: 32px;
            cursor: pointer;
            border: 1px solid $c_line;
            border-bottom: none;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
            &.th_fixed {
                position: sticky;
                bottom: 0px;
                z-index: 99;
            }
            &.h_auto {
                height: auto;
            }
        }
    }
    tbody {
        tr:hover {
            background-color: rgba(rgb(249, 246, 61), 0.08);
            cursor: pointer;
        }
        tr.on {
            background-color: rgba(rgb(249, 246, 61), 0.16);
        }
        tr.chk_on {
            background-color: rgba($c_key, .08);
        }
        th {
            background-color: $c_bg_grey;
        }
        td, th {
            padding: 5px;
            border: 1px solid $c_line;
            max-width: 0;
            text-align: center;
            &.taL {
                text-align: left;
            }
            &:first-child {
                border-left: none;
            }
            &:last-child {
                border-right: none;
            }
            
        }
        // tr:last-child {
        //     td, th {
        //         border-bottom: none;
                
        //     }
        // }
    }

    .col_sort {
        display: inline-flex;
        margin-left: 6px;
        flex-direction: column;
        vertical-align: middle;
        
        .btn_sort {
            display: block;
            &.ty_up {
                border-bottom: 5px solid #999;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                &:hover {
                    border-bottom-color: #000;
                }
                &.on {
                    border-bottom-color: #000;
                }
            }
            &.ty_down {
                margin-top: 4px;
                border-top: 5px solid #999;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                &:hover {
                    border-top-color: #000;
                }
                &.on {
                    border-top-color: #000;
                }
            }
        }
    }

    .f_btn.ty_small {
        height: 22px;
        line-height: 20px;
    }
    &.col3_left {
        tbody {
            td:nth-child(3) {
                text-align: left;
            }
        }
    }
    &.col5_left {
        tbody {
            td:nth-child(5) {
                text-align: left;
            }
        }
    }
}


/*코멘트*/
.comment_wrap {margin-top:10px;}
.comment_top {background:#fcfcfc; border-bottom: 1px solid #e9e9e9; border-top: 1px solid #BDBDBD; padding:10px 20px; }
.comment_top span.txt_title {background: url(./images/man.png) no-repeat left 50%; color: #777777; letter-spacing: -1px; padding: 0 20px;}
.comment_top span.txt_title em {color: #e60000; font-size: 11px; font-weight: bold;}

.comment_wrap .comment_list{margin:10px 0;padding:10px;background:#fff;border:1px solid #e0e1db; }
.comment_wrap ul.comment_list li{padding:5px;border-bottom:1px dashed #e0e1db;}
.comment_wrap ul.comment_list li:last-child{border-bottom:0 none;}
.comment_wrap ul.comment_list li .top{overflow:hidden; padding-top:10px;}
.comment_wrap ul.comment_list li .top p.name{float:left; padding-left:15px; background:url(./images/icon_comment.gif) no-repeat left 50%;color:#666666;}
.comment_wrap ul.comment_list li .top div.edit{float:right;}
.comment_wrap ul.comment_list li .top div.edit span {font-size:11px;font-family:tahoma,sans-serif;color:#888888}
.comment_wrap ul.comment_list li .top div.edit span.ip {color:#b2b2b2;}
.comment_wrap ul.comment_list li p.comment{padding-top:5px;line-height:1.4em; word-break:break-all; overflow:hidden; clear:both;color:#666666;}

table.comment_write_tbl{border:1px solid #e0e1db}
table.comment_write_tbl{text-align:left;font-size:12px;}
table.comment_write_tbl th{padding:10px;background:#fcfcfc;text-align:left;font-weight:normal;color:#000000}
table.comment_write_tbl th input{border:1px solid #e0e1db;height:22px;padding-left:5px;vertical-align:middle;}
table.comment_write_tbl th span {font-size:11px; color:#666}
table.comment_write_tbl th span.tip{color:#007FC8;}
table.comment_write_tbl td{padding:5px; vertical-align:top}
table.comment_write_tbl td textarea{border:1px solid #e0e1db; width:100%}
table.comment_write_tbl td .btn_board {padding:0;width:100%;height:53px;}
table.comment_write_tbl td span{display:block; margin-top:5px;font-size:11px;color:#666}
table.comment_write_tbl td span input{vertical-align:middle;}
/*-------------------------- 비밀번호확인 --------------------------*/ 