@font-face {
 font-family: "hy";
 font-weight: 300;
 src: url("../fonts/hy.eot");
 src: url("../fonts/hy.eot?#iefix") format("embedded-opentype"),
      url("../fonts/hy.woff") format("woff"),
      url("../fonts/hy.ttf") format("truetype");
}